@import url('https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--title);
    text-decoration: none;

}

:root {
    --title: "Radio Canada Big", sans-serif;


}

.radio-canada-big-uniquifier {
    font-family: "Radio Canada Big", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
.je{
    color: rgb(107, 107, 107);
}
.col{
    color:rgb(184, 182, 76);
}
.col2{
    color:LightSeaGreen;
}

span{
    color: rgb(107, 107, 107);
}
.hora{
    color: orange;
}
.loca{
    color: rgb(193, 152, 75);

}
.olla{
    color: pink;
}

.pr{
    position: relative;
}
.pa{
    position: absolute;
}
.cengrid{
    display: grid;
    place-items: center;
}
.cenflex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.al{
    align-items: center;
    text-align: center;
}

.sombra{

    box-shadow: 0 0 10px -3px black;
}

.img_fit{
    object-fit: cover;
    height: 100%;
    width: 100%;

}
.flex100{
    display: flex;
    justify-content: space-between;
}
.flex101{
    display: flex;
    justify-content: space-between;
   

}

.volver{
    font-size: 30px;
    left: 15px;
    top:15px;
    height: 30px;
    width: 30px;
    background-color: rgb(187, 187, 187);
    border-radius: 50%;
    color: black;
}
.pd25{
    padding: 25px;
}

.sp{
    justify-content: space-between;
}


body {
    height: 100vh;
    overflow-x: hidden;
}

.icon_s {
    font-size: 10px;
    
}

.icon_M {

    font-size: 22pt;
}

.icon_l {
    font-size: 26pt;


}

header {
    height: 70%;
    width: 100%;


    .portada {
        height: 70%;
        width: 100%;
        position: relative;


        .imagen-resto {
            height: 100%;
            width: 100%;
            background-image: url(../img/banner.jpeg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;


        }

        .saludo {
            position: absolute;
            bottom: 50px;
            left: 20px;
            height: 50px;
            width: 200px;
            font-family: var(--title);
            color: aliceblue;

        }

        .buscador {
            position: absolute;
            height: 40px;
            width: 70%;
            left: 15%;
            background-color:white;
            bottom: -20px;
            display: flex;
            justify-content: space-between;
            box-shadow: 0 0 15px -2px rgb(74, 72, 76);

            & .text {

                width: 100%;
            }
        }



    }

    .categoria {

        height: 30%;
        width: 100%;
        padding: 5%;
        padding-top: 25px;
        display: flex;
        gap: 40px;
        overflow: hidden;
        overflow-x: scroll;


        a.item_cat {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 80px;
            width: 80px;

        }

    }

}


main {
    height: 30% auto;
    width: 100%;
    padding: 10px;


    .resultados {

        gap: 20px;
        display: flex;
        flex-direction: column;


        .resto {

            height: 130px;
            width: 100%;
            position: relative;
            color: black;

           

            
            & .img1 {

                background-image: url(../img/restaurante1.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                height: 100%;
                width: 50%;
                position: absolute;
                left: 0;
            }

            & .km {
                color: white;
                font-size: 15pt;
              


            }


            & .des1 {
                background-color: rgb(255, 255, 255);
                padding: 8px;
                height: 100%;
                width: 60%;
                position: absolute;
                right: 0;
                border-bottom-left-radius: 20px;
                box-shadow: 0 0 15px -2px rgb(46, 45, 47);
                text-align:start;
                text-decoration: none;
                

                & .deshijo{
                    line-height: 1.6;

                }
            }

            & .punt1 {
                position: absolute;
                height: 40px;
                width: 40px;
               background-color: LightSeaGreen;
                font-size: 22px;
                display: grid;
                place-items: center;
                right: -10px;
                top: -10px;
                border-radius: 10px 0;
            }

            & .img2 {

                background-image: url(../img/restaurante2.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                height: 100%;
                width: 50%;
                position: absolute;
                left: 0;
            }

            & .des2 {
                background-color: rgb(255, 0, 0);
                height: 100%;
                width: 60%;
                position: absolute;
                right: 0;
                border-bottom-left-radius: 20px;
                box-shadow: 0 0 15px -2px blueviolet;
            }

            & .punt2 {
                position: absolute;
                height: 40px;
                width: 40px;
                background-color: rgb(4, 0, 255);
                font-size: 22px;
                display: grid;
                place-items: center;
                right: -10px;
                top: -10px;
                border-radius: 10px 0;
            }

            & .img3 {

                background-image: url(../img/restaurante3.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                height: 100%;
                width: 50%;
                position: absolute;
                left: 0;
            }

            & .des3 {
                background-color: rgb(255, 0, 0);
                height: 100%;
                width: 60%;
                position: absolute;
                right: 0;
                border-bottom-left-radius: 20px;
                box-shadow: 0 0 15px -2px blueviolet;
            }

            & .punt3 {
                position: absolute;
                height: 40px;
                width: 40px;
                background-color: rgb(4, 0, 255);
                font-size: 22px;
                display: grid;
                place-items: center;
                right: -10px;
                top: -10px;
                border-radius: 10px 0;
            }

            & .img4 {

                background-image: url(../img/restaurante4.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                height: 100%;
                width: 50%;
                position: absolute;
                left: 0;
            }

            & .des4 {
                background-color: rgb(255, 0, 0);
                height: 100%;
                width: 60%;
                position: absolute;
                right: 0;
                border-bottom-left-radius: 20px;
                box-shadow: 0 0 15px -2px blueviolet;
            }

            & .punt4 {
                position: absolute;
                height: 40px;
                width: 40px;
                background-color: rgb(4, 0, 255);
                font-size: 22px;
                display: grid;
                place-items: center;
                right: -10px;
                top: -10px;
                border-radius: 10px 0;
            }
        }
    }


}


.detapa {

    display: flex;
    gap: 40px;
    justify-content: center;
    

    a.deta {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 80px;
       

    }

 
}

.resto_image{
    width: 100%;
    height: 40%;
    background-color: blue;
  


}

.resto_precio{
   
    width: auto;
    background-color:LightSeaGreen;
    right: 15px;
    bottom: -15px;
    border-radius: 8px 0;
    padding: 8px;
    font-weight: bold;
    color: aliceblue;

}

.resto_desc{
    height: fit-content;
    min-height: 60%;
    width: 100%;
    padding: 15px;
    padding-top: 30px;
    padding-bottom: 75px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    

}
.resto_menu{
   position: fixed;
   bottom:0;
   height: 60px;
   width: 100%;
   background-color: rgb(255, 255, 255);
   display: flex;
   justify-content: space-around;
   gap: 10px;
}

.btn_menu{  
    flex: 1;
    text-decoration: none;
    font-weight: bolder;
    color: gray;
}

.btn_menu.active{
    border-top: solid 4px LightSeaGreen;;
}

.titulo_menu{
    height: 60px;
    width: 100%;
    display: grid;
    place-items: center;
}

.contenedor_tarjeta{
    display: flex;
    flex-direction: column;
    gap:15px;
    padding: 13px;
    padding-bottom: 75px;

    .tarjeta{
        height: 180px;
        background-color: rgb(255, 255, 255);
        display: flex;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border: 1px solid #d9d9d9; 
    }
    .tarjeta_re{
        height: 180px;
        background-color: rgb(255, 255, 255);
        display: flex;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border: 1px solid #d9d9d9; 

    }
    .foto{
        height: 150px;
        flex: 0 0 150px;
    }

    .tag{
        height: 40px;
        width: auto;
        background-color:LightSeaGreen;
        right: -15px;
        bottom: 15px;
        border-radius: 8px 0;
        padding: 8px;
        font-weight: bold;
        color: aliceblue;

    
    }

    .plato_descripcion{
        text-overflow: ellipsis;
        overflow: hidden;
        text-decoration: none;
        color: black;
      
    }
}

.tit{
    position: relative;
    display: flex;
    justify-content: center;
    height: 85px;

}

    .tit2{
        position: absolute;  
        height: 70px;
         
        text-align: center;
        padding: 25px;
        border-bottom: solid 4px LightSeaGreen;;
  

    }

    .img_fit_reseña{
        
        object-fit: cover;
        height: 100%;
        width: 100%;
        border-radius: 80px 80px 80px 80px;
    
    }
h6.esp{
    color: rgb(107, 107, 107);
}

.img_fit_plato{
    object-fit: cover;
    height: 100%;
    width: 100%;

}

.ubicacion{
    padding: 5px;
    

    
}


@media screen and (orientation: landscape) {

    main {


        .resultados {
            flex-direction: row;
            flex-wrap: wrap;


            .resto {
                /* flex-grow: 0;
                flex-shrink: 0;
                flex-basis: 50%; */
                flex: 0 0 calc(50% - 10px);
                background-color: deeppink;
            }




        }
      
    }
    .contenedor_tarjeta{
        flex-direction: row;
        flex-wrap: wrap;
        .tarjeta{
            flex:0 0 calc(50% - 10px);
        }
        .tarjeta_re{
            flex:0 0 calc(50% - 10px);
        }
    }
}



































.form {
    --width-of-input: 100%;
    --border-height: 1px;
    --border-before-color: rgb(75, 71, 71);
    --border-after-color: #5891ff;
    --input-hovered-color: #4985e01f;
    position: relative;
    width: var(--width-of-input);
   }
   /* styling of Input */
   .input {
    color: #4d0a0a;
    font-size: 0.9rem;
    background-color: transparent;
    width: 100%;
    box-sizing: border-box;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: none;
    border-bottom: var(--border-height) solid var(--border-before-color);
   }
   /* styling of animated border */
   .input-border {
    position: absolute;
    background: var(--border-after-color);
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    transition: 0.3s;
   }
   /* Hover on Input */
   input:hover {
    background: var(--input-hovered-color);
   }
   
   input:focus {
    outline: none;
   }
   /* here is code of animated border */
   input:focus ~ .input-border {
    width: 100%;
   }


































   .cartBtn {
    width: 155px;
    height: 50px;
    border: none;
    border-radius: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    color: white;
    font-weight: 500;
    position: relative;
    background-color: rgb(29, 29, 29);
    box-shadow: 0 20px 30px -7px rgba(27, 27, 27, 0.219);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    overflow: hidden;
  }
  
  .cart {
    z-index: 2;
  }
  
  .cartBtn:active {
    transform: scale(0.96);
  }
  
  .product {
    position: absolute;
    width: 12px;
    border-radius: 3px;
    content: "";
    left: 23px;
    bottom: 23px;
    opacity: 0;
    z-index: 1;
    fill: rgb(211, 211, 211);
  }
  
  .cartBtn:hover .product {
    animation: slide-in-top 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  
  @keyframes slide-in-top {
    0% {
      transform: translateY(-30px);
      opacity: 1;
    }
  
    100% {
      transform: translateY(0) rotate(-90deg);
      opacity: 1;
    }
  }
  
  .cartBtn:hover .cart {
    animation: slide-in-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  
  @keyframes slide-in-left {
    0% {
      transform: translateX(-10px);
      opacity: 0;
    }
  
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }