@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Viga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {

  --precio-fondo: "Viga", sans-serif;
  --precio-talle: "Manrope", sans-serif;
  --fondo-degradado: linear-gradient(90deg, lightblue, black);
  --negro90: rgb(33, 33, 33);
  --font-descripcion: "PT Serif", serif;}


.azul{
  background-color: rgb(221, 0, 255);
}
.verde{
  background-color: rgb(88, 79, 97);
}
.violeta{
  background-color: rgb(255, 255, 255);
}
.rojo{
  background-color: rgb(0, 0, 0);
}

.viga-regular {
  font-family: "Viga", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.manrope-uniquifier {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}



.pt-serif-regular {
  /* letra de descripcion */
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: normal;
}


body {

  height: 100vh;
  width: 100vw;
}

.container {

  height: 100%;
  width: 100%;
  background: var(--fondo-degradado);
  display: grid;
  place-items: center;


}

.tarjeta {
  height: 550px;
  width: 300px;
  background-color: white;
  border-radius: 20px;
  /* box-shadow: 20px 20px 15px 15px white; */

  & .titulo {

    height: 48px;
    width: 300px;
    border-radius: 20px 20px 0 0;
    background-color: black;


    & .icono {
      font-size: 30px;
      margin-left: 10px;
      padding: 8px;
      color: blueviolet;
    }

    & .fa-icon {

      color: blueviolet;
      position: relative;
      font-size: 30px;
      left: 240px;
      /* Mueve el icono 20px hacia la derecha */
      top: -33px;
      /* Mueve el icono 10px hacia abajo */


    }


  }

  & .precio {
    position: relative;
    height: 200px;
    width: 100%;
    /* background-color: bisque; */
    padding: 20px;
    background-image: url("../img/concord.jpeg");
    background-size: cover;
    background-position: center;

    & .texto-encima {
      z-index: 2;
      text-align: center;
      font-family: var(--precio-fondo);
      font-size: x-large;
      color: rgb(0, 0, 0);

    }
    & .colores {
      width: 50%; height: 40px;
    justify-content: space-between;
      display: flex;
      margin: auto;

      & li{
        border-radius: 50%;
        height: 14px;
         width: 14px;
         list-style: none;

      }

 
    }

    & .talles{
        
      width:60%;
      display: flex;
      margin: auto;
      justify-content: space-between; 

      & li{ 

      list-style: none;
      border: solid 2px black;
      border-radius: 50% ;
      width: 25px;
      text-align: center;
      background-color: rgb(208, 109, 235);


    }




    }

   

  }




  & .circulo-1 {

    color: rgb(0, 0, 0);
    position: relative;
    font-size: 20px;
    left: 165px;
    /* Mueve el icono 20px hacia la derecha */
    top: -175px;
    /* Mueve el icono 10px hacia abajo */

  }


  & .circulo-2 {

    color: blueviolet;
    position: relative;
    font-size: 20px;
    left: 70px;
    /* Mueve el icono 20px hacia la derecha */
    top: -175px;
    /* Mueve el icono 10px hacia abajo */

  }

  & .circulo-3 {

    color: rgb(91, 109, 115);
    position: relative;
    font-size: 20px;
    left: 100px;
    /* Mueve el icono 20px hacia la derecha */
    top: -198px;
    /* Mueve el icono 10px hacia abajo */

  }

  & .circulo-4 {

    color: rgb(255, 255, 255);
    position: relative;
    font-size: 20px;
    left: 130px;
    /* Mueve el icono 20px hacia la derecha */
    top: -225px;
    /* Mueve el icono 10px hacia abajo */

  }









  & .descripcion {

    height: 220px;
    width: 300px;
    font-family: var(--precio-talle);
    line-height: 21.5px;
    font-size: 15px;
    color: black;
    background-color: rgb(148, 113, 148);

  }


  & .foot {
    height: 82px;
    border-radius: 0 0 20px 20px;
    width: 300px;
    background-color: black;
    display: grid;
    place-items: center;



  }













  a {
    position: relative;
    display: inline-block;
    padding: 9px 13px;
    border: 2px solid #fefefe;
    text-transform: uppercase;
    color: #fefefe;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
  }

  a::before {
    content: '';
    position: absolute;
    top: 6px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% - 12px);
    background-color: #212121;
    transition: 0.3s ease-in-out;
    transform: scaleY(1);
  }

  a:hover::before {
    transform: scaleY(0);
  }

  a::after {
    content: '';
    position: absolute;
    left: 6px;
    top: -2px;
    height: calc(100% + 4px);
    width: calc(100% - 12px);
    background-color: #212121;
    transition: 0.3s ease-in-out;
    transform: scaleX(1);
    transition-delay: 0.5s;
  }

  a:hover::after {
    transform: scaleX(0);
  }

  a span {
    position: relative;
    z-index: 3;
  }

  button {
    background-color: none;
    text-decoration: none;
    background-color: #212121;
    border: none;
  }

}